<div id="wrapper" >
            <div class="navbar-default sidebar" role="navigation" style="width: 230px;">
                <div class="sidebar-nav navbar-collapse " id="list-wrapper" >
                <div  infinite-scroll="fetchDocuments()"  infinite-scroll-container="'#list-wrapper'" infinite-scroll-immediate-check="false" infinite-scroll-disabled='busy' infinite-scroll-distance="1" infinite-scroll-parent="true">
                    <ul class="nav" id="side-menu" >
                        <li ng-repeat="document in documents | limitTo:numberToDisplay" class="sidebarPart" ng-click="fetchDocument(document,$index+1)">
                           <a href="#/documentVerification" style="min-height: 80px">
                           <div style="float: left;" >Doc Sample {{$index+1}}</div><div style="float: right;margin-right: 0px;">Date &amp; Time</div>
                           <div style="margin-right: 0px;float: right;" >({{document.submittedOn}})</div>
                           <div style="margin-right: 0px;float: right;" ng-hide="document.requestAnalysed" >Not Analysed</div>
                           <div style="margin-right: 0px;float: right;" ng-show="document.requestAnalysed" >&nbsp;&nbsp;&nbsp;&nbsp;Analysed</div>
                           </a>
                        </li>
                    </ul>
               </div>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Document Sample {{docCount}}</h1>
                    <span ng-show="successMessage!=''" id="messageSpan">{{successMessage}}<br/><br/></span>
                </div>
                
                <!-- /.col-lg-12 -->
            </div>
             <div class="col-lg-8 col-md-6" ng-show="displayUploadDoc">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-6">
									KTP Upload
                                </div>
                              
                            </div>
                        </div>
                       
                        <div class="panel-footer">
						<table  style="width:100%">
						    <tr >
						       <th style="padding-bottom:5px;font-size:14px;">KTP File :</th>
						       <th style="padding-bottom:5px;"><input type="file"  file-model="docController.uploadFile"/></th>
						    </tr>
                        </table>
                        </div>
                    </div>
                     <div class="row col-lg-12 marLeft400DT">
				          <button type="button" class="btn btn-primary" ng-click="uploadDocument()">Upload</button>
				          <br/>
				          <br/>
				     </div>  
                </div>
                <div class="col-lg-8 col-md-6">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-6">
									Response Details
                                </div>
                              
                            </div>
                        </div>
                       
                        <div class="panel-footer">
						<table  style="width:100%">
						    <tr >
						       <th style="padding-bottom:5px;font-size:14px;">Field</th>
						       <th style="padding-bottom:5px;font-size:14px;">Value</th>
						       <th style="padding-bottom:5px;font-size:14px;">Is the response correct?</th>
						       <th style="padding-bottom:5px;font-size:14px;">Reason</th>
						    </tr>
							<tr>
								<td style="font-weight: bold;">NIK</td>
								<td><input ng-hide="document.responseCorrect.NIK==null || document.responseCorrect.NIK=='true'" ng-model="document.fields.NIK"/><div ng-hide="document.responseCorrect.NIK=='false'">{{document.fields.NIK}}</div></td>
								<td ng-if='!empty()'>
								 <input type="radio"   id="NIK1"  name="NIK" value="true" ng-checked="{{document.responseCorrect.NIK=='true'}}" ng-model="document.responseCorrect.NIK" />Yes &nbsp;&nbsp;
				                 <input type="radio"   id="NIK2"  name="NIK" value="false" ng-checked="{{document.responseCorrect.NIK=='false'}}"  ng-model="document.responseCorrect.NIK" />No
								</td>
								<td ng-if="document.responseCorrect.NIK!=null">
								  <select ng-model="document.reasons.NIK" ng-hide="document.responseCorrect.NIK=='true'">
                                     <option ng-repeat="reason in reasons" ng-value="reason">{{reason}}</option>
                                  </select>
								</td>
							</tr>
							<tr>
								<td style="font-weight: bold;">RTRW</td>
								<td><input ng-hide="document.responseCorrect.RTRW==null || document.responseCorrect.RTRW=='true'" ng-model="document.fields.RTRW"/><div ng-hide="document.responseCorrect.RTRW=='false'">{{document.fields.RTRW}}</div></td>
								<td ng-if='!empty()'>
								 <input type="radio"   id="RTRW1"  name="RTRW" value="true" ng-checked="{{document.responseCorrect.RTRW=='true'}}" ng-model="document.responseCorrect.RTRW"  />Yes &nbsp;&nbsp;
				                 <input type="radio"   id="RTRW2"  name="RTRW" value="false" ng-checked="{{document.responseCorrect.RTRW=='false'}}"  ng-model="document.responseCorrect.RTRW"  />No
								</td>
								<td ng-if="document.responseCorrect.RTRW!=null" >
								  <select ng-hide="document.responseCorrect.RTRW=='true'" ng-model="document.reasons.RTRW">
                                     <option ng-repeat="reason in reasons" ng-value="reason">{{reason}}</option>
                                  </select>
								</td>
							</tr>
							<tr>
								<td style="font-weight: bold;">KELDESA</td>
								<td><input ng-hide="document.responseCorrect.KELDESA==null || document.responseCorrect.KELDESA=='true'" ng-model="document.fields.KELDESA"/><div ng-hide="document.responseCorrect.KELDESA=='false'">{{document.fields.KELDESA}}</div></td>
								<td ng-if='!empty()'>
								 <input type="radio"   id="KELDESA1"  name="KELDESA" value="true" ng-checked="{{document.responseCorrect.KELDESA=='true'}}" ng-model="document.responseCorrect.KELDESA"/>Yes &nbsp;&nbsp;
				                 <input type="radio"   id="KELDESA2"  name="KELDESA" value="false" ng-checked="{{document.responseCorrect.KELDESA=='false'}}"  ng-model="document.responseCorrect.KELDESA" />No
								</td>
								<td ng-if="document.responseCorrect.KELDESA!=null" >
								  <select ng-hide="document.responseCorrect.KELDESA=='true'"  ng-model="document.reasons.KELDESA">
                                     <option ng-repeat="reason in reasons" ng-value="reason">{{reason}}</option>
                                  </select>
								</td>
							</tr>
							<tr>
								<td style="font-weight: bold;">NAMA</td>
								<td><input ng-hide="document.responseCorrect.NAMA==null || document.responseCorrect.NAMA=='true'" ng-model="document.fields.NAMA"/><div ng-hide="document.responseCorrect.NAMA=='false'">{{document.fields.NAMA}}</div></td>
								<td ng-if='!empty()'>
								 <input type="radio"   id="NAMA1"  name="NAMA" value="true" ng-checked="{{document.responseCorrect.NAMA=='true'}}" ng-model="document.responseCorrect.NAMA"  />Yes &nbsp;&nbsp;
				                 <input type="radio"   id="NAMA2"  name="NAMA" value="false" ng-checked="{{document.responseCorrect.NAMA=='false'}}"  ng-model="document.responseCorrect.NAMA"  />No
								</td>
								<td ng-if="document.responseCorrect.NAMA!=null" >
								  <select ng-hide="document.responseCorrect.NAMA=='true'" ng-model="document.reasons.NAMA">
                                     <option ng-repeat="reason in reasons" ng-value="reason">{{reason}}</option>
                                  </select>
								</td>
							</tr>
                            <tr>
								<td style="font-weight: bold;">JENIS</td>
								<td><input ng-hide="document.responseCorrect.JENIS==null || document.responseCorrect.JENIS=='true'" ng-model="document.fields.JENIS"/><div ng-hide="document.responseCorrect.JENIS=='false'">{{document.fields.JENIS}}</div></td>
								<td ng-if='!empty()'>
								 <input type="radio"   id="JENIS1"  name="JENIS" value="true" ng-checked="{{document.responseCorrect.JENIS=='true'}}" ng-model="document.responseCorrect.JENIS"  />Yes &nbsp;&nbsp;
				                 <input type="radio"   id="JENIS2"  name="JENIS" value="false" ng-checked="{{document.responseCorrect.JENIS=='false'}}"  ng-model="document.responseCorrect.JENIS"  />No
								</td>
								<td ng-if="document.responseCorrect.JENIS!=null" >
								  <select ng-hide="document.responseCorrect.JENIS=='true'" ng-model="document.reasons.JENIS">
                                     <option ng-repeat="reason in reasons" ng-value="reason">{{reason}}</option>
                                  </select>
								</td>
							</tr>
							<tr>
								<td style="font-weight: bold;">PEKERJAAN</td>
								<td><input ng-hide="document.responseCorrect.PEKERJAAN==null || document.responseCorrect.PEKERJAAN=='true'" ng-model="document.fields.PEKERJAAN"/><div ng-hide="document.responseCorrect.PEKERJAAN=='false'">{{document.fields.PEKERJAAN}}</div></td>
								<td ng-if='!empty()'>
								 <input type="radio"   id="PEKERJAAN1"  name="PEKERJAAN" value="true" ng-checked="{{document.responseCorrect.PEKERJAAN=='true'}}" ng-model="document.responseCorrect.PEKERJAAN"  />Yes &nbsp;&nbsp;
				                 <input type="radio"   id="PEKERJAAN2"  name="PEKERJAAN" value="false" ng-checked="{{document.responseCorrect.PEKERJAAN=='false'}}"  ng-model="document.responseCorrect.PEKERJAAN"  />No
								</td>
								<td ng-if="document.responseCorrect.PEKERJAAN!=null" >
								  <select ng-hide="document.responseCorrect.PEKERJAAN=='true'" ng-model="document.reasons.PEKERJAAN">
                                     <option ng-repeat="reason in reasons" ng-value="reason">{{reason}}</option>
                                  </select>
								</td>
							</tr>
							<tr>
								<td style="font-weight: bold;">KECAMATAN</td>
								<td><input ng-hide="document.responseCorrect.KECAMATAN==null || document.responseCorrect.KECAMATAN=='true'" ng-model="document.fields.KECAMATAN"/><div ng-hide="document.responseCorrect.KECAMATAN=='false'">{{document.fields.KECAMATAN}}</div></td>
								<td ng-if='!empty()'>
								 <input type="radio"   id="KECAMATAN1"  name="KECAMATAN" value="true" ng-checked="{{document.responseCorrect.KECAMATAN=='true'}}" ng-model="document.responseCorrect.KECAMATAN"  />Yes &nbsp;&nbsp;
				                 <input type="radio"   id="KECAMATAN2"  name="KECAMATAN" value="false" ng-checked="{{document.responseCorrect.KECAMATAN=='false'}}"  ng-model="document.responseCorrect.KECAMATAN"  />No
								</td>
								<td ng-if="document.responseCorrect.KECAMATAN!=null" >
								  <select ng-hide="document.responseCorrect.KECAMATAN=='true'" ng-model="document.reasons.KECAMATAN">
                                     <option ng-repeat="reason in reasons" ng-value="reason">{{reason}}</option>
                                  </select>
								</td>
							</tr>
							<tr>
								<td style="font-weight: bold;">BERLAKU</td>
								<td><input ng-hide="document.responseCorrect.BERLAKU==null || document.responseCorrect.BERLAKU=='true'" ng-model="document.fields.BERLAKU"/><div ng-hide="document.responseCorrect.BERLAKU=='false'">{{document.fields.BERLAKU}}</div></td>
								<td ng-if='!empty()'>
								 <input type="radio"   id="BERLAKU1"  name="BERLAKU" value="true" ng-checked="{{document.responseCorrect.BERLAKU=='true'}}" ng-model="document.responseCorrect.BERLAKU"  />Yes &nbsp;&nbsp;
				                 <input type="radio"   id="BERLAKU2"  name="BERLAKU" value="false" ng-checked="{{document.responseCorrect.BERLAKU=='false'}}"  ng-model="document.responseCorrect.BERLAKU"  />No
								</td>
								<td ng-if="document.responseCorrect.BERLAKU!=null" >
								  <select ng-hide="document.responseCorrect.BERLAKU=='true'" ng-model="document.reasons.BERLAKU">
                                     <option ng-repeat="reason in reasons" ng-value="reason">{{reason}}</option>
                                  </select>
								</td>
							</tr>
							<tr>
								<td style="font-weight: bold;">KEWAR</td>
								<td><input ng-hide="document.responseCorrect.KEWAR==null || document.responseCorrect.KEWAR=='true'" ng-model="document.fields.KEWAR"/><div ng-hide="document.responseCorrect.KEWAR=='false'">{{document.fields.KEWAR}}</div></td>
								<td ng-if='!empty()'>
								 <input type="radio"   id="KEWAR1"  name="KEWAR" value="true" ng-checked="{{document.responseCorrect.KEWAR=='true'}}" ng-model="document.responseCorrect.KEWAR"  />Yes &nbsp;&nbsp;
				                 <input type="radio"   id="KEWAR2"  name="KEWAR" value="false" ng-checked="{{document.responseCorrect.KEWAR=='false'}}"  ng-model="document.responseCorrect.KEWAR"  />No
								</td>
								<td ng-if="document.responseCorrect.KEWAR!=null" >
								  <select ng-hide="document.responseCorrect.KEWAR=='true'" ng-model="document.reasons.KEWAR">
                                     <option ng-repeat="reason in reasons" ng-value="reason">{{reason}}</option>
                                  </select>
								</td>
							</tr>
							<tr>
								<td style="font-weight: bold;">LAHIR</td>
								<td><input ng-hide="document.responseCorrect.LAHIR==null || document.responseCorrect.LAHIR=='true'" ng-model="document.fields.LAHIR"/><div ng-hide="document.responseCorrect.LAHIR=='false'">{{document.fields.LAHIR}}</div></td>
								<td ng-if='!empty()'>
								 <input type="radio"   id="LAHIR1"  name="LAHIR" value="true" ng-checked="{{document.responseCorrect.LAHIR=='true'}}" ng-model="document.responseCorrect.LAHIR"  />Yes &nbsp;&nbsp;
				                 <input type="radio"   id="LAHIR2"  name="LAHIR" value="false" ng-checked="{{document.responseCorrect.LAHIR=='false'}}"  ng-model="document.responseCorrect.LAHIR"  />No
								</td>
								<td ng-if="document.responseCorrect.LAHIR!=null" >
								  <select ng-hide="document.responseCorrect.LAHIR=='true'" ng-model="document.reasons.LAHIR">
                                     <option ng-repeat="reason in reasons" ng-value="reason">{{reason}}</option>
                                  </select>
								</td>
							</tr>
							<tr>
								<td style="font-weight: bold;">ALAMAT</td>
								<td><input ng-hide="document.responseCorrect.ALAMAT==null || document.responseCorrect.ALAMAT=='true'" ng-model="document.fields.ALAMAT"/><div ng-hide="document.responseCorrect.ALAMAT=='false'">{{document.fields.ALAMAT}}</div></td>
								<td ng-if='!empty()'>
								 <input type="radio"   id="ALAMAT1"  name="ALAMAT" value="true" ng-checked="{{document.responseCorrect.ALAMAT=='true'}}" ng-model="document.responseCorrect.ALAMAT"  />Yes &nbsp;&nbsp;
				                 <input type="radio"   id="ALAMAT2"  name="ALAMAT" value="false" ng-checked="{{document.responseCorrect.ALAMAT=='false'}}"  ng-model="document.responseCorrect.ALAMAT"  />No
								</td>
								<td ng-if="document.responseCorrect.ALAMAT!=null" >
								  <select ng-hide="document.responseCorrect.ALAMAT=='true'" ng-model="document.reasons.ALAMAT">
                                     <option ng-repeat="reason in reasons" ng-value="reason">{{reason}}</option>
                                  </select>
								</td>
							</tr>
							<tr>
								<td style="font-weight: bold;">STATUS</td>
								<td><input ng-hide="document.responseCorrect.STATUS==null || document.responseCorrect.STATUS=='true'" ng-model="document.fields.STATUS"/><div ng-hide="document.responseCorrect.STATUS=='false'">{{document.fields.STATUS}}</div></td>
								<td ng-if='!empty()'>
								 <input type="radio"   id="STATUS1"  name="STATUS" value="true" ng-checked="{{document.responseCorrect.STATUS=='true'}}" ng-model="document.responseCorrect.STATUS"  />Yes &nbsp;&nbsp;
				                 <input type="radio"   id="STATUS2"  name="STATUS" value="false" ng-checked="{{document.responseCorrect.STATUS=='false'}}"  ng-model="document.responseCorrect.STATUS"  />No
								</td>
								<td ng-if="document.responseCorrect.STATUS!=null" >
								  <select ng-hide="document.responseCorrect.STATUS=='true'" ng-model="document.reasons.STATUS">
                                     <option ng-repeat="reason in reasons" ng-value="reason">{{reason}}</option>
                                  </select>
								</td>
							</tr>
							<tr>
								<td style="font-weight: bold;">AREA</td>
								<td><input ng-hide="document.responseCorrect.AREA==null || document.responseCorrect.AREA=='true'" ng-model="document.fields.AREA"/><div ng-hide="document.responseCorrect.AREA=='false'">{{document.fields.AREA}}</div></td>
								<td ng-if='!empty()'>
								 <input type="radio"   id="AREA1"  name="AREA" value="true" ng-checked="{{document.responseCorrect.AREA=='true'}}" ng-model="document.responseCorrect.AREA"  />Yes &nbsp;&nbsp;
				                 <input type="radio"   id="AREA2"  name="AREA" value="false" ng-checked="{{document.responseCorrect.AREA=='false'}}"  ng-model="document.responseCorrect.AREA"  />No
								</td>
								<td ng-if="document.responseCorrect.AREA!=null" >
								  <select ng-hide="document.responseCorrect.AREA=='true'" ng-model="document.reasons.AREA">
                                     <option ng-repeat="reason in reasons" ng-value="reason">{{reason}}</option>
                                  </select>
								</td>
							</tr>
							<tr>
								<td style="font-weight: bold;">PROVINCE</td>
								<td><input ng-hide="document.responseCorrect.PROVINCE==null || document.responseCorrect.PROVINCE=='true'" ng-model="document.fields.PROVINCE"/><div ng-hide="document.responseCorrect.PROVINCE=='false'">{{document.fields.PROVINCE}}</div></td>
								<td ng-if='!empty()'>
								 <input type="radio"   id="PROVINCE1"  name="PROVINCE" value="true" ng-checked="{{document.responseCorrect.PROVINCE=='true'}}" ng-model="document.responseCorrect.PROVINCE"  />Yes &nbsp;&nbsp;
				                 <input type="radio"   id="PROVINCE2"  name="PROVINCE" value="false" ng-checked="{{document.responseCorrect.PROVINCE=='false'}}"  ng-model="document.responseCorrect.PROVINCE"  />No
								</td>
								<td ng-if="document.responseCorrect.PROVINCE!=null" >
								  <select ng-hide="document.responseCorrect.PROVINCE=='true'" ng-model="document.reasons.PROVINCE">
                                     <option ng-repeat="reason in reasons" ng-value="reason">{{reason}}</option>
                                  </select>
								</td>
							</tr>
							<tr>
								<td style="font-weight: bold;">AGAMA</td>
								<td><input ng-hide="document.responseCorrect.AGAMA==null || document.responseCorrect.AGAMA=='true'" ng-model="document.fields.AGAMA"/><div ng-hide="document.responseCorrect.AGAMA=='false'">{{document.fields.AGAMA}}</div></td>
								<td ng-if='!empty()'>
								 <input type="radio"   id="AGAMA1"  name="AGAMA" value="true" ng-checked="{{document.responseCorrect.AGAMA=='true'}}" ng-model="document.responseCorrect.AGAMA"  />Yes &nbsp;&nbsp;
				                 <input type="radio"   id="AGAMA2"  name="AGAMA" value="false" ng-checked="{{document.responseCorrect.AGAMA=='false'}}"  ng-model="document.responseCorrect.AGAMA"  />No
								</td>
								<td ng-if="document.responseCorrect.AGAMA!=null" >
								  <select ng-hide="document.responseCorrect.AGAMA=='true'" ng-model="document.reasons.AGAMA">
                                     <option ng-repeat="reason in reasons" ng-value="reason">{{reason}}</option>
                                  </select>
								</td>
							</tr>
							<tr>
								<td style="font-weight: bold;">TEMPAT</td>
								<td><input ng-hide="document.responseCorrect.TEMPAT==null || document.responseCorrect.TEMPAT=='true'" ng-model="document.fields.TEMPAT"/><div ng-hide="document.responseCorrect.TEMPAT=='false'">{{document.fields.TEMPAT}}</div></td>
								<td ng-if='!empty()'>
								 <input type="radio"   id="TEMPAT1"  name="TEMPAT" value="true" ng-checked="{{document.responseCorrect.TEMPAT=='true'}}" ng-model="document.responseCorrect.TEMPAT"  />Yes &nbsp;&nbsp;
				                 <input type="radio"   id="TEMPAT2"  name="TEMPAT" value="false" ng-checked="{{document.responseCorrect.TEMPAT=='false'}}"  ng-model="document.responseCorrect.TEMPAT"  />No
								</td>
								<td ng-if="document.responseCorrect.TEMPAT!=null" >
								  <select ng-hide="document.responseCorrect.TEMPAT=='true'" ng-model="document.reasons.TEMPAT">
                                     <option ng-repeat="reason in reasons" ng-value="reason">{{reason}}</option>
                                  </select>
								</td>
							</tr>
							<tr>
								<td style="font-weight: bold;">GOL</td>
								<td><input ng-hide="document.responseCorrect.GOL==null || document.responseCorrect.GOL=='true'" ng-model="document.fields.GOL"/><div ng-hide="document.responseCorrect.GOL=='false'">{{document.fields.GOL}}</div></td>
								<td ng-if='!empty()'>
								 <input type="radio"   id="GOL1"  name="GOL" value="true" ng-checked="{{document.responseCorrect.GOL=='true'}}" ng-model="document.responseCorrect.GOL" />Yes &nbsp;&nbsp;
				                 <input type="radio"   id="GOL2"  name="GOL" value="false" ng-checked="{{document.responseCorrect.GOL=='false'}}"  ng-model="document.responseCorrect.GOL"/>No
								</td>
								<td ng-if="document.responseCorrect.GOL!=null" >
								  <select ng-hide="document.responseCorrect.GOL=='true'" ng-model="document.reasons.GOL">
                                     <option ng-repeat="reason in reasons" ng-value="reason">{{reason}}</option>
                                  </select>
								</td>
							</tr>
							<tr>
								<td style="font-weight: bold;">FACE</td>
								<td></td>
								<td ng-if='!empty()'>
								 <input type="radio"   id="FACE1"  name="FACE" value="true" ng-checked="{{document.responseCorrect.FACE=='true'}}" ng-model="document.responseCorrect.FACE" />Yes &nbsp;&nbsp;
				                 <input type="radio"   id="FACE2"  name="FACE" value="false" ng-checked="{{document.responseCorrect.FACE=='false'}}"  ng-model="document.responseCorrect.FACE" />No
								</td>
								<td ng-if="document.responseCorrect.FACE!=null" >
								  <select ng-hide="document.responseCorrect.FACE=='true'" ng-model="document.reasons.FACE">
                                     <option ng-repeat="reason in reasons" ng-value="reason">{{reason}}</option>
                                  </select>
								</td>
							</tr>
							<tr>
								<td style="font-weight: bold;">SIGN</td>
								<td></td>
								<td ng-if='!empty()'>
								 <input type="radio"   id="SIGN1"  name="SIGN" value="true" ng-checked="{{document.responseCorrect.SIGN=='true'}}" ng-model="document.responseCorrect.SIGN"  />Yes &nbsp;&nbsp;
				                 <input type="radio"   id="SIGN2"  name="SIGN" value="false" ng-checked="{{document.responseCorrect.SIGN=='false'}}"  ng-model="document.responseCorrect.SIGN"  />No
								</td>
								<td ng-if="document.responseCorrect.SIGN!=null" >
								  <select ng-hide="document.responseCorrect.GOL=='true'" ng-model="document.reasons.SIGN">
                                     <option ng-repeat="reason in reasons" ng-value="reason">{{reason}}</option>
                                  </select>
								</td>
							</tr>
                        </table>
                        </div>
                    </div>
                     <div class="row col-lg-12 marLeft400DT">
				              <button type="button" class="btn btn-primary" ng-click="formSubmit()">Update</button>
				     </div>  
                </div>
                
                <div class="col-lg-4 col-md-6 pull-right">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-6">
                                   KTP Image
                                </div>
                            </div>
                        </div>
						<div class="panel-body">
						    <span class="ktpSpinner-hide" align="center" style="margin-top: 40px;"  id="spinnerKTP"><img src="/docuserve/images/loading-animation-7.gif"/></span>
							<img  id="ktpID" ng-if="document.documentUrls[2].url!=null" imageonload src="{{document.documentUrls[2].url}}" height="191px" width=""/>
                        </div>
                    </div>
					<div class="panel panel-primary">
                        <div class="panel-heading">Face Image</div>
						<div class="panel-body">
                                <!--face image tag -->
                                <img ng-if="document.documentUrls[0].url!=null" alt=""  ng-src="{{document.documentUrls[0].url}}"/>
                        </div>	
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                    <div class="panel panel-primary">
                        <div class="panel-heading">Signature Image</div>
                        <div class="panel-body">
                            <img alt="" ng-if="document.documentUrls[1].url!=null"   ng-src="{{document.documentUrls[1].url}}"/>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Useful links
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <ul class="">
                                <li>
                                 <span ng-if="document.documentUrls[4].url==null">Tess File</span><a ng-if="document.documentUrls[4].url!=null"  href="{{document.documentUrls[4].url}}">Tess File</a>
                                </li>
                                <li>
                                  <span ng-if="document.documentUrls[3].url==null">Clean File</span> <a ng-if="document.documentUrls[3].url!=null" href="{{document.documentUrls[3].url}}">Clean File</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
