 <div class="well">DocuServe Application</div>
 <ul class="nav nav-tabs responsive" id="myTab" style="background-color: #337ab7">
         <li id="docVerificationLi">   
                <a class="navbar-brand whiteColour" id="docVerification" ng-click="showUploadDocument('docVerification')" href="#/documentVerification" >KTP Document Verification</a>
        </li>
        <li id="uploadDocLi"> 
                <a class="navbar-brand whiteColour" id="uploadDoc" ng-click="showUploadDocument('uploadDoc')" href="#/documentVerification" >Upload Document</a>
         </li>
        <li id="loginLi" style="float: right!important;" class="active"  ng-show="userLoggedIn"> 
                <a class="navbar-brand" id="login" ng-click="showUploadDocument('login')" href="#/login" >Login</a>
         </li>
</ul>