

<div class=" col-md-4 col-md-offset-4" style="margin-top: 50px;">
	<div class="panel panel-primary">
		<div class="panel-heading">Login</div>
		<div class="panel-body">
			<div class="col-md-12">
				<form ng-submit="login()">
					<div class="form-group">
						<label for="username">Username:</label> <input type="txt"
							class="form-control" ng-model="username" id="username">
					</div>
					<div class="form-group">
						<label for="pwd">Password:</label> <input type="password"
							class="form-control" id="pwd" ng-model="password">
					</div>
					<button type="submit" class="btn btn-primary">Submit</button>
					<div class="alert alert-info margin-top-5" ng-show="message">{{message}}</div>
				</form>
			</div>
		</div>
	</div>
</div>